// 基础公共样式

html {
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: normal;
}

.w1200 {
  @include clearfix;

  width: 1200px;
  margin: 0 auto;
}

.main-wrap {
  margin-top: 80px;
  margin-bottom: 100px;
}

.main-lf {
  float: left;
  width: 66.5%;
}

.main-rt {
  float: right;
  width: 32%;
}

@media screen and (max-width: 1200px) {
  .w1200 {
    width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .w1200 {
    width: 720px;
  }

  .main-lf {
    width: 100%;
  }

  .main-rt {
    display: none;
  }
}